---
import { Image } from '@astrojs/image/components';

import BaseLayout from '@layouts/BaseLayout.astro';
import Title from '@components/Title.astro';
import BackToTop from '@components/BackToTop.astro';
import CommitteePhotos from '@components/about/CommitteePhotos.astro';
import CommitteeRoles from '@components/about/CommitteeRoles.astro';
import HonkFamily from '@components/about/HonkFamily.astro';
import ContactUs from '@components/about/ContactUs.astro';
import MarkdownContent from '@components/MarkdownContent.astro';
import committee from './_committee.toml';
import family from './_family.toml';
import contact from './_contact.toml';
import { rawContent as diversity_content } from './_diversity.md';
import { rawContent as join_us_content } from './_join_us.md';
import { rawContent as mission_content } from './_mission.md';
import { rawContent as story_content } from './_story.md';

---

<BaseLayout title="About">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 sm:gap-6 mb-6">
    <nav class="content-container md:row-span-2">
      <div class="menu sticky">
        <a class="button text-shadow" href="#mission">» Our Mission</a>
        <a class="button text-shadow" href="#contact">» Contact Us</a>
        <a class="button text-shadow" href="#story">» Our Story</a>
        <a class="button text-shadow" href="#diversity"
          >» Diversity & Inclusion</a
        >
        <a class="button text-shadow" href="#join">» Join Us!</a>
        <a class="button text-shadow" href="#committee">» Committee</a>
        <a class="button text-shadow" href="#family">» HONK! Family</a>
      </div>
    </nav>

    <!-- MISSION -->
    <section id="mission" class="content-container md:col-span-2">
      <BackToTop />
      <Title title="Our" subtitle="Mission" />
      <MarkdownContent md={mission_content()} />
    </section>

    <!-- Contact -->
    <section id="contact" class="content-container md:col-span-2">
      <BackToTop />
      <Title title="Contact Us" />
      <ContactUs emails={contact.emails}/>
    </section>
  </div>

  <div class="grid grid-cols-1 gap-5">
    <!-- STORY -->
    <section id="story" class="content-container">
      <BackToTop />
      <Title title="Our" subtitle="Story" />
      <div class="flex flex-col md:flex-row w-full gap-2">
        <div>
          <Image
            class="block w-full md:w-auto md:mr-5 mb-3 sm:mb-0 rounded h-auto"
            src="https://ik.imagekit.io/thegoldendino/hfw/henryart_0A59z8KGn.png?updatedAt=1628230159141&tr=b-5_FFFFFF"
            alt="Henry Art for H!FW"
            width="233"
            height="300"
            format="png"
          />
        </div>
        <MarkdownContent md={story_content()} />
      </div>
    </section>

    <!-- DIVERSITY -->
    <section id="diversity" class="content-container">
      <BackToTop />
      <Title title="Diversity &" subtitle="Inclusion" />
      <MarkdownContent md={diversity_content()} />
    </section>

    <!-- JOIN US! -->
    <section id="join" class="content-container">
      <BackToTop />
      <Title title="Join Us!" />
      <MarkdownContent md={join_us_content()} />
    </section>

    <!-- COMMITTEE -->
    <section id="committee">
      <CommitteePhotos photos={committee.photos} />
    </section>

    <!-- COMMITTEE ROLES -->
    <section class="content-container grid grid-cols-1 md:grid-cols-4">
      <BackToTop />
      <CommitteeRoles groups={committee.groups} />
    </section>

    <!-- HONK! FAMILY -->
    <HonkFamily family={family}/>
  </div>
</BaseLayout>

<style>
  a.button {
    @apply block bg-navy rounded text-xl text-gray-200 mb-5 last:mb-0 font-base font-bold py-2 px-4 cursor-pointer;
  }

  a.button:hover {
    @apply scale-105 bg-pink transition ease-in-out;
  }
</style>
