---
import Head from '@components/base-head/BaseHead.astro';
import FestivalApp from '@components/festival/FestivalApp.svelte';

import schedule from '@data/schedule.toml';
import bands from '@data/bands.toml';
import stages from '@data/stages.toml';
import logoImg from '/src/assets/images/logos/2023-logo-white.png';

const mapImgs = await Astro.glob('/src/assets/images/map/*').then((files) =>
  files.map((file) => file.default),
);

const bandImgs = await Astro.glob('/src/assets/images/bands/*').then((files) =>
  files.map((file) => file.default),
);
---

<!doctype html>
<html lang="en" class="h-full overflow-hidden bg-surface-800">
  <!-- HEAD -->
  <head>
    <Head title="HONK! 2024" />
  </head>

  <body class="h-full overflow-hidden sm:max-w-3xl mx-auto">
    <div style="display: contents" class="h-full overflow-hidden">
      <FestivalApp
        client:only="svelte"
        bands={bands}
        schedule={schedule}
        stages={stages}
        logoImg={logoImg}
        mapImgs={mapImgs}
        bandImgs={bandImgs}
      />
    </div>
  </body>
</html>
