---
	import { Markdown } from 'astro/components'
	import FestivalLayout from '@layouts/FestivalLayout.astro'
	import Title from '$components/Title.astro'
	import schedule from '@data/schedule.json'
	import bands from '@data/bands.json'

	const bandEl = (bandId) => {
		const band = bands[bandId]
		if (!band && bandId) {
			return (
				<span class="font-black text-gray-300">{bandId}</span>
			)
		} else if (!band) {
			return (
				<span class="text-gray-300">---</span>
			)
		
		} else {
			return (
				<a class="" href={band.url}>{band.name}</a>
			)
		}
	}
---

<FestivalLayout title="Schedule" active="schedule">
	<div class="content-container mb-4 sm:mb-6">
		<Title title="September 18th, 2021 in Columbia Park!" />
		<div class="content">
			<Markdown>
				- **12pm:** Music starts in Columbia Park in the Columbia City neighborhood of Seattle (4271 Rainier Ave S, Seattle, WA 98118). Two "stages" of music until 7pm!
				<br/>
				- **7pm:** Community jam in Columbia Park!!! Bring your instrument and get down with your community!

				<div class="pl-9 pt-4">
					[[Directions]](https://www.google.com/maps/dir//Columbia+Park,+4721+Rainier+Ave+S,+Seattle,+WA+98118/@47.5600489,-122.2872709,15z/data=!4m6!4m5!1m0!1m2!1m1!1s0x54906a0c561e5355:0xffb8208442dec929!3e0)
				</div>
			</Markdown>
		</div>
	</div>	
	<div class="content-container">
		<Title title="Schedule" id="schedule" />
		<div class="content" id="party-pigeon">
			<table class="table-fixed w-full">
				<thead>
					<tr>
						<th class="w-14"></th>
						<th class="text-right text-main-color-50 text-xl w-1/2">
							Party Pigeon 
							<span class="hidden sm:inline">Stage</span>
						</th>
						<th class="text-right text-main-color-50 text-xl w-1/2">
							Sassy Sousa 
							<span class="hidden sm:inline">Stage</span>
						</th>
					</tr>
				</thead>
				<tbody>
					{schedule.map((slot) => (
						<tr class="even:bg-main-color-300 even:bg-opacity-60">
							<td class="whitespace-nowrap pl-3 py-2">{slot.time}</td>
							<td class="text-right whitespace-nowrap overflow-hidden overflow-ellipsis pl-6 pr-3 opacity-90 text-accent-color">{bandEl(slot.pp)}</td>
							<td class="text-right whitespace-nowrap overflow-hidden overflow-ellipsis pl-4 pr-3 opacity-90 text-accent-color">{bandEl(slot.ss)}</td>
						</tr>
					))}
				</tbody>	
			</table>
		</div>
	</div>
</FestivalLayout>