---
import BaseLayout from '@layouts/BaseLayout.astro'
import Image from '$components/Image.astro'

import emails from '@data/email-addresses.json' 
import committee from '@data/committee.json'
---

<BaseLayout title="Contact">

	<!-- EMAIL ADDRESSES -->
	<div class="content-container mb-6 sm:mb-10 flex">
		<img class="hidden md:block w-28 ml-auto" src='https://ik.imagekit.io/thegoldendino/hfw/festival/2021/goose_4tJV6uU5mRQ.png?updatedAt=1628928771447' alt="Goose with drum"/>
		<dl class="mx-auto lg:ml-28 sm:w-2/3 lg:w-1/2  grid grid-cols-1 sm:grid-cols-2">
			{Object.keys(emails).map((email) => (
				<>
					<dt class="sm:p-2 font-base antialiased text-gray-300 leading-7 text-lg sm:text-xl flex-1">{emails[email].name}:</dt>
					<dd class="content pb-2 sm:p-2 font-base antialiased text-gray-300 leading-7 text-lg sm:text-xl">
						<a href={`mailto:${emails[email].email}`}>
							{emails[email].email}
						</a>
					</dd>
				</>
			))}
		</dl>
	</div>

	<!-- COMMITTEE -->
	<h2 class="font-emphasis text-3xl sm:text-4xl text-main-color-100 text-center tracking-wide mb-8">
		YOUR
		<span class="text-accent-color">HONK! FEST WEST</span>
		COMMITTEE
	</h2>
	<div class="flex flex-wrap justify-around gap-6 sm:gap-12">
		{Object.keys(committee).map((position) => (
			<div class="w-[184px] flex flex-col items-center">
				<Image 
					className="rounded-full h-36 mb-2" 
					src={committee[position].image_url} alt={committee[position].name}
					width="150"
					height="150"
				/>
				<h3 class="font-emphasis text-2xl uppercase text-main-color-50 text-center">{position}</h3>
				<p class="content text-center">{committee[position].name}</p>
			</div>
		))}
	</div>

</BaseLayout>