---
import {Markdown} from 'astro/components'
import BaseLayout from '@layouts/BaseLayout.astro'
import Title from '$components/Title.astro'
import Image from '$components/Image.astro'

import sponsors from '@data/sponsors.json'
---

<BaseLayout title="Sponsors">
	<!-- INTRO -->
	<article class="content-container mb-3 sm:mb-6">
		<p class="content">
			<Markdown>
				Strong support from business donors will be the key to our success. Your tax-deductible contribution will help to pay for the many expenses and logistics associated with this amazing event.
				<br/>
				For more information or to discuss sponsorship levels, features, or benefits, please contact us at [info@honkfestwest.org](mailto:info@honkfestwest.org).
			</Markdown>
		</p>
	</article>

	<div class="flex flex-wrap md:flex-nowrap">
		<div class="w-full md:w-2/3 md:pr-3">

			<!-- READY TO PARTICIPATE? -->
			<article class="content-container mb-3 sm:mb-6">
				<Title title="Ready to Participate?"/>
				<p class="content">
					<Markdown>
						HONK! Fest West is fiscally sponsored by Shunpike, a 501(c)(3) non-profit organization that supports the arts, as our fiscal sponsor. Donations can be made via check to:
						<span class="flex flex-col items-center text-center block my-4 sm:my-5">
							**Shunpike**

							**(HONK! Fest West in the memo line)**

							**PO BOX 22439, Seattle, WA 98122**
						</span>
						or securely online at: http://poweredbyshunpike.org
					</Markdown>
				</p>
			</article>

			<article class="content-container mb-3 sm:mb-6">
				<Title title="Arts Support Organizations"/>
				<p class="content">
					<Markdown>
						We thank [Shunpike](http://shunpike.org/), a 501(c)(3) non-profit agency that provides independent arts groups in Washington State with the services, resources, and opportunities they need to forge their own paths to sustainable success.
					</Markdown>
					<a class="block" href={sponsors.shunpike.link} >
						<Image 
							className="rounded p-2 bg-[#f4efdf] w-auto h-20 sm:h-24 mx-auto my-5" 
							src={sponsors.shunpike.image} alt={sponsors.shunpike.name}
							width="222"
							height="96"
						/>
					</a>
					<span class="border-b-4 border-opacity-30 border-accent-color border-dotted w-full block mb-3"/>
					<Markdown>
						HONK! Fest West is supported, in part, by grant awards from [4Culture](http://www.4culture.org/), the Community Investments Fund of [Tides Foundation](http://www.tides.org/) and [King County Local Services](https://https//www.kingcounty.gov).
					</Markdown>
					<span class="block flex flex-wrap sm:flex-nowrap justify-around mt-2 sm:mb-5">
						{sponsors.arts.map((sponsor) => (
							<a class="block" href={sponsor.link} >
								<Image 
									className="rounded p-1 bg-white w-auto h-16 lg:h-20 mb-3 sm:mb-0" 
									src={sponsor.image} alt={sponsor.name}
									height="80"/>
							</a>	
						))}
					</span>
					<span class="border-b-4 border-opacity-30 border-accent-color border-dotted w-full block mb-3"/> 
					<Markdown>	
						This project is funded in part by a Neighborhood Matching Fund award from [Seattle Department of Neighborhoods](https://www.seattle.gov/neighborhood).
					</Markdown>
					<a class="block mb-5" href={sponsors.neighborhoods.link} >
						<Image 
							className="rounded w-auto h-20 sm:h-24 mx-auto mt-2" 
							src={sponsors.neighborhoods.image} alt={sponsors.neighborhoods.name}
							width="227"
							height="96"
						/>
					</a>
					<span class="border-b-4 border-opacity-30 border-accent-color border-dotted w-full block mb-3"/>
					<Markdown>
						We thank the original [HONK! festival](http://honkfest.org/)—the mothership—which inspired our festival and has since seen other offspring arise in Austin, Detroit, Australia, Brazil and beyond!
					</Markdown>
				</p>
			</article>
		</div>

		<!-- SPONSORSHIP LEVELS -->
		<div class="w-full md:w-1/3 md:pl-3">
			<div class="content-container">
				<Title title="Sponsorship Levels" classes="text-center"/>

				<!-- GRAND MARSHALL -->
				<h3 class="font-emphasis text-accent-color text-2xl sm:text-3xl text-center mt-4 sm:mt-6">
					<a href="https://poweredbyshunpike.org/c/PBS/a/honkfestwest/Donate?t=5000">GRAND MARSHALL</a>
					<span class="text-gray-500"> $5,000+</span>
				</h3>
				<div class="content">
					<Markdown>
						* Top billing as a “Title Sponsor” of our event
						* Large color logo on sponsors web page, promotional material, email newsletters
						* Color business card ad in festival program
						* Booth placement available Friday & Saturday (10×10 or smaller)
						*	Large banners at appropriate venues
						* Social media & website blog coverage year-round
						* Verbal recognition throughout festival
						* 10 tickets to special events and afterparties for 1 year
						* Live 1 hour performance (subject to band availability) from participating band
					</Markdown>
				</div>

				<!-- TOP BRASS -->
				<h3 class="font-emphasis text-accent-color text-2xl sm:text-3xl text-center mt-4 sm:mt-6">
					<a href="https://poweredbyshunpike.org/c/PBS/a/honkfestwest/Donate?t=2500">TOP BRASS</a>
					<span class="text-gray-500"> $2,500</span>
				</h3>
				<div class="content">
					<Markdown>				
						* Featured billing as an sponsor of our event
						* Color logo on sponsors web page, promotional material, email newsletters
						* Small ad in festival program
						* Signage at appropriate venues
						* Booth placement available Friday and Saturday (10×10 or smaller)
						* Social media & website blog coverage throughout festival
						* Verbal recognition throughout festival
						* Invites to select special events and afterparties
					</Markdown>
				</div>

				<!-- HORN STAR -->
				<h3 class="font-emphasis text-accent-color text-2xl sm:text-3xl text-center mt-4 sm:mt-6">
					<a href="https://poweredbyshunpike.org/c/PBS/a/honkfestwest/Donate?t=2500">HORN STAR</a>
					<span class="text-gray-500"> $1,000</span>
				</h3>
				<div class="content">
					<Markdown>				
						* Color logo on sponsors web page
						* Shared booth placement available
						* Social media shoutouts and recognition
						* Invited to select special events
					</Markdown>
				</div>

				<!-- BAND BOOSTER -->
				<h3 class="font-emphasis text-accent-color text-2xl sm:text-3xl text-center mt-4 sm:mt-6">
					<a href="https://poweredbyshunpike.org/c/PBS/a/honkfestwest/Donate?t=500">HORN STAR</a>
					<span class="text-gray-500"> $500</span>
				</h3>
				<div class="content">
					<Markdown>				
						* Logo on sponsors web page
						* Sponsor listing where appropriate
					</Markdown>
				</div>

				<!-- IN-KIND CONTRIBUTION -->
				<h3 class="font-emphasis text-accent-color text-2xl sm:text-3xl text-center mt-4 sm:mt-6">
					<a href="https://poweredbyshunpike.org/c/PBS/a/honkfestwest/Donate?t=500">IN-KIND CONTRIBUTION</a>
				</h3>
				<div class="content">
					<Markdown>				
						* Promotions determined on a case-by-case basis
					</Markdown>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>