---
import {Markdown} from 'astro/components'
import YAML from 'yaml'
import BaseLayout from '@layouts/BaseLayout.astro'
import Title from '@components/Title.astro'
import YamlParser from '@lib/utils/yaml-parser.js'

import positionsPathname from '@data/volunteer-positions.yml'
const positions = await YamlParser(`${Astro.request.url.origin}${positionsPathname}`)
---

<BaseLayout title="Volunteer">
	<div class="flex">
		<div class="w-1/3 pr-3">
			<div class="content-container">
				<Title title="Sign Up" classes="text-center" />
				<img class="w-2/3 mx-auto my-4 border-8 border-accent-color rounded border-opacity-60" src="https://ik.imagekit.io/thegoldendino/hfw/people/katie_OjdCeHQls.jpeg?updatedAt=1628536067049" alt="Katie our Volunteer Coordinator"/>
				<p class="content">
					<Markdown>
						Katie our HONK! Fest West Volunteer Coordinator would LOVE to hear from you!
						<br/>
						Please [» APPLY HERE](https://forms.gle/HBRe9LNspCbGxHoG8)
					</Markdown>
				</p>
			
			</div>
		</div>
		<div class="w-2/3 pl-3">
			<div class="content-container mb-6">
				<Title title="HONK! Fest West" subtitle="NEEDS YOU!!!"/>
				<div class="content">
					<Markdown>
						Below is a list of currently open roles within the Organizing Committee. These positions are distinguished between Committee-level roles and Long-term Volunteer roles. What’s the difference?
						<br/>
						* **Committee Roles** usually have an increase in responsibility and commitment. They are also expected to attend all regular committee meetings.
						* **Long-term Volunteer Roles**, aka Super-Volunteers, are usually roles that fit into a planning committee. They are not expected to attend regular meetings of the Organizing Committee and report to a committee level lead. These roles tend to have less responsibility and commitment throughout the year.
					</Markdown>
				</div>
			</div>

			{Object.keys(positions).map((position) => (
				<div class="content-container mb-6">
					<Title title={position} subtitle={positions[position].type.length ? `| ${positions[position].type}` : ''} />
					<p>
						<Markdown content={positions[position].description}/>
					</p>
				</div>
			))}
		</div>
	</div>
</BaseLayout>