---
import BaseLayout from '@layouts/BaseLayout.astro';
import BackToTop from '@components/BackToTop.astro';
import Title from '@components/Title.astro';
import { Image } from '@astrojs/image/components';
import ImageKit from 'imagekit';

interface Props {
	title: string;
	photosPath: string;
}

const { title, photosPath }: Props = Astro.props;

const imagekit = new ImageKit({
	publicKey: import.meta.env.IMAGEKIT_PUBLICKEY,
	privateKey: import.meta.env.IMAGEKIT_PRIVATEKEY,
	urlEndpoint: import.meta.env.IMAGEKIT_URLENDPOINT,
});

const photos = await imagekit.listFiles({
	path: photosPath,
});
---

<BaseLayout title={title}>
	<section class="content-container mb-4 sm:mb-6">
		<BackToTop />
		<Title title={title} />

		<div class="grid grid-cols-2 sm:grid-cols-5 gap-4">
			{
				photos.map((photo) => (
					<a
						href={photo.url}
						class="rounded overflow-hidden ease-in hover:transition hover:scale-105 hover:shadow"
					>
						<Image
							src={photo.thumbnail}
							alt={title}
							width="440"
							height="440"
							format="jpeg"
						/>
					</a>
				))
			}
		</div>
	</section>
</BaseLayout>
