---
import { Image } from "astro:assets";
import Title from "@components/Title.astro";
import DateTime from "./DateTime.astro";

const { post } = Astro.props;
---

<div class="flex flex-col justify-between h-full">
  <Title title={post.title} subtitle={post.subtitle} center={true} />

  <div class="flex-1">
    <a
      class="block w-full flex-none mb-3"
      href={post.external_url || post.astro.url}
    >
      <Image
        class="max-h-[245px] w-auto border-2 rounded border-accent-color border-opacity-80 hover:border-opacity-100 mx-auto"
        src={post.image_url}
        alt={`${post.title} ${post.subtitle}`}
        height="245"
        width="245"
        format={post.image_format}
      />
    </a>
    <div
      class="flex flex-wrap justify-around md:block content font-bold w-full"
    >
      <DateTime
        start={post.start_datetime}
        end={post.end_datetime}
        className="block"
      />
      <a class="block mb-3" href={post.location_url}>
        {post.location_display}
      </a>
    </div>
  </div>
  <div class="flex flex-col justify-end lg:justify-between h-full">
    <div
      class="hidden lg:block content font-base antialiased text-gray-700 leading-7 text-base sm:text-lg w-full"
    >
      {post.astro.source}
    </div>
    <a
      class="block font-base rounded antialiased text-gray-200 font-bold flex-none mt-3 bg-accent-color w-full text-lg bg-opacity-80 px-2 hover:bg-opacity-90"
      href={post.external_url}
    >
      » {post.more_display}
    </a>
  </div>
</div>
