---
import Head from '@components/base-head/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import BackgroundImage from '@components/BackgroundImage.astro';
import nav from '@data/nav.toml';
import footer from '@data/footer.toml';
import social from '@data/social.toml';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <head>
    <Head title={title}>
      <slot name="head" />
    </Head>
  </head>

  <body class="min-h-full">
    <div id="back-to-top"></div>

    <!-- BACKGROUND IMAGE -->
    <div class="w-full h-full fixed top-0 left-0">
      <div class="bg-aqua w-full h-full fixed top-0 left-0"></div>
      <BackgroundImage />
    </div>

    <div
      class="w-full h-full absolute top-0 left-0 flex flex-col justify-between"
    >
      <!-- HEADER -->
      <header class="w-full mx-auto">
        <Header nav={nav} social={social} />
      </header>

      <!-- MAIN -->
      <main class="max-w-screen-xl mx-auto sm:pb-10 sm:px-6 w-full">
        <slot />
      </main>

      <!-- FOOTER -->
      <footer class="mt-auto w-full">
        <Footer supporters={footer.supporters} social={social} />
      </footer>
    </div>
  </body>
</html>
