---
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";
import Title from "@components/Title.astro";
import BackToTop from "@components/BackToTop.astro";
import { getCollection } from "astro:content";

const supporters = await getCollection("supporters");
const artSupporters = supporters.filter((s) => s.data.type === "art");
const grantSupporters = supporters.filter((s) => s.data.type === "grant");
const shoutoutSupporters = supporters.filter((s) => s.data.type === "shoutout");
---

<Layout title="Supporters">
  <!-- INTRO -->
  <section class="content-container mb-4 sm:mb-10">
    <p class="content">
      Your tax-deductible contribution will help to pay for the many expenses
      and logistics associated with this amazing event as well as outreach
      programming throughout the year. Financial support or in-kind
      contributions from businesses and community members are the backbone of
      our success.
      <br /><br />
      For more information about sponsorship opportunities please contact us at:
      <br />
      <a href="mailto:fundraising@honkfestwest.org"
        >fundraising@honkfestwest.org</a
      >
    </p>
  </section>

  <div class="flex flex-wrap lg:flex-nowrap layout-gap">
    <div class="w-full lg:w-1/3 flex flex-col layout-gap">
      <!-- READY TO PARTICIPATE? -->
      <section class="content-container">
        <Title title="Ready to Participate?" />
        <p class="content">
          HONK! Festival West is a 501(c)(3) nonprofit organization.
          <br /><br />
          <span class="font-semibold">Tax ID #86-3761255.</span>
          <br /><br />
          Donations to HONK! Festival West are tax-deductible to the extent allowed
          by law.
          <br /><br />
          Donations can be made via check to:
          <span class="flex flex-col mt-2 font-semibold">
            HONK! Festival West
            <br />
            PO Box 20242
            <br />
            Seattle, WA 98102
          </span>
          <br />
          Or securely at:
          <br />
        </p>
        <a
          href="https://connect.clickandpledge.com/w/Form/a6086a7f-ef18-4eb8-a2bc-ffa205759fcc"
          class="block transition ease-in-out bg-gold-900 hover:scale-105 py-1 px-4 mt-2 text-center rounded-full w-auto"
        >
          <span class="block text-lg font-base font-medium text-button-text"
            >Click & Pledge</span
          >
        </a>
      </section>
    </div>
    <div class="w-full lg:w-2/3 flex flex-col layout-gap">
      <section class="content-container">
        <BackToTop />
        <Title title="Supporters" />
        <p class="content">
          <span>
            This project is supported in part by the
            <a href={grantSupporters[0].data.url}
              >{grantSupporters[0].data.name}</a
            > and <a href={artSupporters[0].data.url}
              >{artSupporters[0].data.name}</a
            >.
          </span>
          <span
            class="grid grid-cols-1 gap-2 sm:gap-10 mt-2 sm:mb-5 items-center justify-center"
          >
            {
              grantSupporters.map(({ data }) => (
                <a class="block mb-3 sm:mb-0 max-w-[200px]" href={data.url}>
                  <Image
                    class="rounded bg-white p-2"
                    src={data.image_url}
                    alt={data.name}
                    inferSize
                  />
                </a>
              ))
            }
            {
              artSupporters.map(({ data }) => (
                <a class="block mb-3 sm:mb-0 max-w-[200px]" href={data.url}>
                  <Image
                    class="w-auto rounded bg-white p-2"
                    src={data.image_url}
                    alt={data.name}
                    inferSize
                  />
                </a>
              ))
            }
          </span>

          <span
            class="border-b-4 border-opacity-60 border-accent border-dotted w-full block mb-4"
          ></span>

          <span>
            Thank you to our partner organizations for their support in building
            a thriving creative community in Seattle:
          </span>
        </p>
        <div class="relative flex flex-col justify-center py-6">
          <div
            class="columns-2 sm:columns-3 gap-10 [column-fill:_balance] box-border mx-auto before:box-inherit after:box-inherit"
          >
            {
              shoutoutSupporters.map(({ data }) => (
                <div class="break-inside-avoid mb-6 rounded-lg max-w-[188px] bg-gray-100">
                  <a href={data.url}>
                    <Image
                      class="w-auto rounded p-1"
                      src={data.image_url}
                      alt={data.name}
                      inferSize
                    />
                  </a>
                </div>
              ))
            }
          </div>
        </div>

        <span
          class="border-b-4 border-opacity-60 border-accent border-dotted w-full block mb-4"
        ></span>

        <p class="content">
          We thank the original
          <a href="http://honkfest.org/">HONK! Boston, MA</a>—the
          mothership—which inspired our festival and has since seen other
          offspring arise in Austin, Detroit, Australia, Brazil and beyond!
        </p>
      </section>
    </div>
  </div>
</Layout>
